body {
   font-family: "HelveticaNeue-UltraThin", "Helvetica Neue UltraThin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   margin: 0;
   padding: 0;
   color: white;
   background-color: #1C0B19;
   font-size: 16px;
   -webkit-font-smoothing: antialiased;
}

.centerTenter
{
	margin: auto;
	text-align: center;
}

h1
{
	font-weight: 100;
	font-size: 4rem;
}

#headerSection
{
	/*background-image: url(waveBack.jpg);*/
	width: 100%;
	height: 450px;
	display: flex;
}

#logo
{
	height: 240px;
}

#tabline
{
	background-image: url(tabline.png);
	background-position: fixed;
	background-size: 150% auto;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 60px;
	opacity: 0.75;
	margin-top: -8px;
	background-clip: content-box;
}

#arrow
{
	margin: 20 auto;
	height: 100px;
	opacity: 0.8;
	display: block;
}

h2
{
	font-size: 1.7rem;
}

#bodyContent
{
	/*display: flex;*/
	align-items: center;
	text-align: center;
}

.detailSection
{
	max-width: 650px;
	margin: auto;
	font-weight: 300;
	text-align: left;
	line-height: 150%;
}

#screenshot
{
	max-width: 700px;
}

#actionScreenshot
{
	max-width: 250px;
	padding-bottom:  10px;
}

.screenshotSection
{
	text-align: center;
	padding: 20px 0;
}

iframe, object, embed {
	width: 100%;
	height: 100%;
	padding: 20px 0;
}

.frameHolder
{
	max-width: 700px;
    max-height: 393.4px;
    margin: auto;
}

@media(max-width: 700px)
{
	#tabline
	{
		background-size: 300%;
	}

	#screenshot
	{
		max-width: 92%;
	}
}

p
{
	padding: 0 10 10 10px;
}

.veil
{
	position: absolute;
	top: 0;
	width: 100%;
	height: 450px;
/*	background-color: rgba(0,0,0,0.8);*/
	background-image: url(waveBack.jpg);
	opacity: 0.1;
	z-index: -1;
}
/*I got this image from Superfamous at superfamous.com. Dey super cool doe*/